<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
body {
    background-color: #333333;
    height: 100%;
}

.container {
    font-family: 'Exo 2', sans-serif;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 15%;
    
    color: #e6aad2;
}

.text-big {
    font-size: 128px;
    text-align: center;
}

.text-small {
    font-size: 24px;
    text-align: center;
}

.text-evensmaller {
    font-size: 16px;
    text-align: center;
}
=======
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
body {
    background-color: #333333;
    height: 100%;
}

.container {
    font-family: 'Exo 2', sans-serif;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 15%;
    
    color: #e6aad2;
}

.text-big {
    font-size: 128px;
    text-align: center;
}

.text-small {
    font-size: 24px;
    text-align: center;
}

.text-evensmaller {
    font-size: 16px;
    text-align: center;
}
>>>>>>> Stashed changes
