{{/*###
Handler=/
TitleBar=Home Page
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}

{{/* CSS Zone */}}
<style>
	.status {
		display: flex;
		font-size: 14px;
		font-weight: 500;
		z-index: 3;
		position: absolute;
		-webkit-transform: translateY(-100px) translateX(5px);
		transform: translateY(-100px) translateX(5px);
		padding: 2px 10px;
		color: #fff;
		margin-left: 5px;
		border-radius: 20px;
		background: rgba(0,0,0,.6);
	}
</style>
{{/* End CSS */}}

	<div class="ui container">
		<div class=""> 
		<div class="main-block">
			<div class="woman"></div>
			<div class="content">
				<div class="status">
					<span>
						<span style="color: #4287f5;" class="counter-text"> {{ .T "%s" (rediget "ripple:registered_users")}} </span> total users
					</span>
					<span style="margin-left: 16px;">
						<span class="counter-text" style="color: #eb4034;"> {{ .T "%s" (rediget "ripple:online_users")}} </span> online users
					</span>
				</div>
				<br>
				<span class="text-lg">
					Nekosu!
				</span>
				<span class="text-sm">
					<b>Welcome to Nekosu!</b>
	
	
					Nekosu is a custom server for the rhythm game osu! We provide an amazing custom osu! experience for all to enjoy by providing a wide variety of new experiences and features. We have anything ranging from custom map ranking and clans to dedicated leaderboards and PP systems for the mods of Relax and Autopilot! What are you waiting for! Join Nekosu today!				</span>
				<div class="buttons">
					{{ if not .Context.User.ID }}
						<a href="/register" class="home-btn btn-key" >Register</a>
					{{end}}
					<a href="https://www.youtube.com/watch?v=kp2UK6mK2LQ&t=7s" class="home-btn btn-how" style="margin-left: 6px;">How to connect</a>
				</div>
			</div>
		</div>
	{{/* MarginBoi */}}
	<br> 
	{{/* Global Statistics */}}
	<div class="ui stackable column divided grid" id="first-grid">
		<div class="five wide column">
			<div class="ui segments" style="height: 100%;">
				<div class="sixteen wide column" style="margin-bottom: 11px;">
					<div class="ui blue segment">
						<div class="ui grid">
							<div class="four wide column">
								<i class="user icon status-icon"></i>
							</div>
							<div class="twelve wide column">
								<p class="status-head">{{ rediget "ripple:online_users" }} / {{ .T "%s" (rediget "ripple:registered_users")}}</p>
								<p class="status-footer">{{ .T "Online / Registered" }}</p>
							</div>
						</div>
					</div>
				</div>
			<div class="sixteen wide column" style="margin-bottom: 11px;">
				<div class="ui orange segment">
					<div class="ui grid">
						<div class="four wide column">
							<i class="user plus icon status-icon"></i>
						</div>
						<div class="twelve wide column">
							{{ range $key, $value := (qb "SELECT username FROM users WHERE privileges >=3 ORDER BY id DESC LIMIT 1") }}
							{{ range $key, $valu := (qb "SELECT id FROM users WHERE privileges >=3 ORDER BY id DESC LIMIT 1") }}
							<p class="status-head" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
								<a href="/u/{{ $valu }}" style="color: inherit;">{{ $value }}</a>
							</p>
							{{ end }}
							{{ end }}
							<p class="status-footer">{{ .T "Latest Player" }}</p>
						</div>
					</div>
			  </div>
			  <div class="sixteen wide column">
                <div class="ui green segment">
                    <div class="ui grid">
                        <div class="four wide column">
                            <i class="user icon status-icon"></i>
                        </div>
                        <div class="twelve wide column">
                             {{ $value := (qb "SELECT ROUND(SUM(scores.pp)) AS pp FROM scores INNER JOIN users ON scores.userid = users.id WHERE scores.completed = 3 AND scores.play_mode = 0 AND users.privileges > 2") }}
                        <p class="status-head">{{ $value.pp }}</p>
                        <p class="status-footer">{{ .T "Total PP" }}</p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
	<div class="six wide column">
		<iframe src="https://discord.com/widget?id=782741644209291305&theme=dark" id="ds-widget" allowtransparency="true" frameborder="0" style="width: 100%;height: 100%;"></iframe>
	</div>
	<div class="five wide column">
		<div class="ui segments" style="height: 100%;">
			<div class="sixteen wide column" style="margin-bottom: 11px;">
				<div class="ui yellow segment">
					<div class="ui grid">
						<div class="four wide column">
							<i class="thumbs up icon status-icon"></i>
						</div>
						<div class="twelve wide column">
							{{ $d := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores INNER JOIN users ON scores.userid = users.id WHERE scores.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
							<p class="status-head">{{ $d.pp }}pp</p>
							<p class="status-head" style="font-size: 10px!important;">{{ .T "Done by " }}<a href="/u/{{ $d.id }}">{{ $d.username }}</a></p>
							<p class="status-footer">{{ .T "Top Score" }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column" style="margin-bottom: 11px;">
				<div class="ui pink segment">
					<div class="ui grid">
						<div class="four wide column">
							<i class="thumbs up icon status-icon"></i>
						</div>
						<div class="twelve wide column">
							{{ $rx := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores_relax INNER JOIN users ON scores_relax.userid = users.id WHERE scores_relax.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
							<p class="status-head">{{ $rx.pp }}pp</p>
							<p class="status-head" style="font-size: 10px!important;">{{ .T "Done by " }}<a href="/u/{{ $rx.id }}">{{ $rx.username }}</a></p>
							<p class="status-footer">{{ .T "Top Relax Score" }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="ui purple segment">
					<div class="ui grid">
						<div class="four wide column">
							<i class="thumbs up icon status-icon"></i>
						</div>
						<div class="twelve wide column">
							{{ $ap := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores_ap INNER JOIN users ON scores_ap.userid = users.id WHERE scores_ap.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
							<p class="status-head">{{ $ap.pp }}pp</p>
							<p class="status-head" style="font-size: 10px!important;">{{ .T "Done by " }}<a href="/u/{{ $ap.id }}">{{ $ap.username }}</a></p>
							<p class="status-footer">{{ .T "Top Autopilot Score" }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div> {{/* Global Stats end past this /div */}}
	</div>
	</div>
	
	{{ end }}
	
