{{/*###
Handler=/rx/plays
Titlebar=top plays
*/}}
{{ define "tpl" }}
<div id="content">
    <div id="TopPlays">
        <link onload="onLoad()" rel="stylesheet" href="/static/gatari.css">
        <link onload="onLoad()" rel="stylesheet" href="https://osu.gatari.pw/static/bootstrap.css">
        <div class="container">
            <div class="col-lg-12">
                <div id="snow-container">
                    <div>
                        <div class="snow large"></div>
                        <div class="snow large delayed"></div>
                        <div class="snow medium"></div>
                        <div class="snow medium delayed"></div>
                        <div class="snow small"></div>
                        <div class="snow small delayed"></div>
                    </div>
                </div>
                <div class="banner placeholder"
                    style="background-image: url(&quot;https://assets.ppy.sh/beatmaps/1000/covers/cover.jpg&quot;);">
                </div>
                <div class="main-banner tp-banner">
                    <div class="banner-text">
                        top plays
                    </div>
                    <div class="selector"><a href="#" class="simple-banner-swtich switch--active">All time</a></div> 
                </div>
                <div class="main-block">
                    <div class="single-play-block"><a target="_blank" href="/b/1911308" class="play-map-preview"
                            style="background-image: url(&quot;https://assets.ppy.sh/beatmaps/906786/covers/card.jpg&quot;);"><span
                                class="map-rank rank-SH"></span> <span class="play-map-name">
                                not now
                            </span></a>
                        <div class="player-pp-info"><span class="player-name"><a href="/u/4350" class="player-username">
                                    Legendre </a></span> <span class="play-pp">
                                936pp
                            </span></div>
                        <div class="br-line"></div>
                        <div class="play-main-info">
                            <div class="info-single"><span class="info-topic">
                                    combo
                                </span> <span class="info-content">
                                    549/
                                    549
                                </span></div>
                            <div class="info-single"><span class="info-topic">
                                    accuracy
                                </span> <span class="info-content">
                                    95.38%
                                </span></div>
                            <div class="info-single"><span class="info-topic">
                                    mods
                                </span> <span class="info-content">
                                    HDDTHR
                                </span></div>
                            <div class="info-single"><span class="info-topic">
                                    date
                                </span> <span class="info-content"><time
                                        datetime="Tue Apr 23 2019 00:40:40 GMT+0200 (Centraleuropæisk sommertid)">8
                                        months ago</time></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/vue/mixins/generalMixins.js?69516"></script>
    <script src="/static/js/vue/pages/top_plays.js?69516"></script>
</div>
{{ end }}